[run]
branch = True
omit = lib/*
       pydnstest/tests/*
       setup.py

[report]
exclude_lines =
    # this cant ever be run by py.test, but it just calls one function,
    # so ignore it
    if __name__ == .__main__.:

    # cov runs in a py2x env, so ignore the py3 specific lines too
    if sys.version_info\[0\] == 3:
